/*Setando config padrão*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
html {
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  flex: 1;
}
body {
  background-color: #f2f2f2;
  align-items: center;
  justify-content: center;
  margin-left: 15.62%;
  margin-right: 15.62%;
  top: 0%;
  bottom: 22.12%;
  float: 1px;
}

a {
  font-weight: 800;
  text-decoration-line: none;
  color: #007fff;
  line-height: 16px;
  letter-spacing: 3px;
}

img {
  max-width: 100%;
  height: auto;
}
@-ms-viewport {
  width: device-width;
}

/*HEADER*/
#main-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 100%;
  margin-top: 15%;
  bottom: 95.96%;
  justify-content: space-between;
  font-size: 12px;
}

#main-header img {
  height: 52px;
  width: 52px;
  border-radius: 50%;
}
#main-header .work {
  margin-right: 70px;
}
#main-header .contacts {
  margin-left: 70px;
}
@media only screen and (max-width: 715px) {
  header #main-header .contacts {
    margin-right: 10px;
  }
  header #main-header .work {
    margin-right: 10px;
  }
}

#rede-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#rede-social img {
  margin: 30px;
}
#rede-social p {
  margin-top: 10%;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}

/*BODY*/

#main-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
/*Primeira coluna*/
.coluna1 {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 715px) {
  body #main-body {
    flex-direction: column;
  }
  body #main-body .coluna1 .post1 {
    margin-bottom: 30px;
  }
  body #main-body .coluna1 .post2 {
    margin-bottom: 30px;
  }
  body #main-body .coluna2 .post3 {
    margin-bottom: 30px;
  }
  body #main-body .coluna2 .post4 {
    margin-bottom: 30px;
  }
}

/*Primeira coluna Foto1*/
.coluna1 .post1 div {
}
.coluna1 .post1 div span {
  background-color: #ffe300;
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 13.5px;
  font-weight: bold;
}
.coluna1 .post1 div p {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  height: auto;
  width: 100%;
}

/*Primeira coluna */
.coluna1 .post2 {
}

/*Primeira coluna*/
.coluna1 .post2 p {
  width: 100%;
  height: auto;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}

/*Segunda Coluna*/
/*Foto3*/
.coluna2 .post3 p {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  height: auto;
  max-width: 100%px;
}
/*Segunda coluna Foto4*/
.coluna2 .post4 div {
}
.coluna2 .post4 p {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  height: auto;
  max-width: 100%;
}

.coluna2 .post4 div span {
  background-color: #ffe300;
  display: flex;
  max-width: 100%;
  height: auto;
  border-radius: 13.5px;
  font-weight: bold;
}

/*FOOTER*/
