* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito',Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-color:#F2F2F2;
}

header#main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 250px;
}

header#main-header nav{
    display: flex;
    font-weight: bold;
}
header#main-header nav a{
    margin-right: 70px;
    font-size: 12px;
    text-decoration-line: none;
}
header#main-header img{
    height: 52px;
    width: 52px;
    border-radius: 50%;
}
body div#rede-social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body div#rede-social img{
    margin-right: 30px;
}
body  div#rede-social p{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin: 0px 50px;
}
body a{
    color:#007FFF;
}
body div#post{
    display: flex;
    margin: 100px;
}
body div#post .coluna1{
    margin-left: 75px;  
}
body div#post .coluna1 .post1 img{
    margin-right: 60px;
    margin-bottom: 60px;
}
body div#post .coluna1 .post1 div{
    margin-top: 372px;
    margin-left: 60px;
    position: absolute;
}
body div#post .coluna1 .post1 div span{
    background-color: #FFE300;
    display: flex;
    width: 100px;
    height: 28px;
    border-radius: 13.5px;
    margin-bottom: 23px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
body div#post .coluna1 .post1 div p{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    height: 72px;
    width: 275px;
    margin-bottom: 60px;
}
body div#post .coluna1 .post2 p{ 
    position: absolute;
}
body div#post .coluna1 .post2 p{ 
    width: 317px;
    height: 72px;
    margin-top: 604px;
    margin-left: 60px;
    display: flex;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}
body div#post .coluna2 .post3 img{ 
    display:  flex;
    height: 667px;  
    margin-bottom: 20px;
}
body div#post .coluna2 .post3 p{ 
    position: absolute;
    color: #FFFFFF;
    margin-top: 450px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    height: 108px;
    width: 317px;
    margin-left: 55px;
    margin-bottom: 60px;
}
body div#post .coluna2 .post4 img{
    display: flex;
    margin-top: 20px;
    height: 575px;
    width: 525px;
    margin-top: 60px;
}
body div#post .coluna2 .post4 div{
    position: absolute;
    margin-left: 55px;
    margin-bottom: 60px;
    margin-top: 430px;
}
body div#post .coluna2 .post4 p{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    height: 108px;
    width: 317px;
}

body div#post .coluna2 .post4 div span{
    background-color: #FFE300;
    display: flex;
    width: 100px;
    height: 28px;
    border-radius: 13.5px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;
}